* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s linear;
  list-style-type: none;
  
}


body,
html {
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  color: #000;
  background-color: white;
}

:root {
  --main-bg-color: white;
  --dark-mode-bg-color: #000;
  --btn-color: orange;
  --color: #777777;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

section {
  padding: 5rem 9%;
}

/* Beggining of Header  */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  height: 7rem;
  padding: 0 9%;
  z-index: 1000;
  background-color: white;
}
header.\.active {
  background-color: rgb(37, 37, 37);
  transition: 0.4s all ease-in;
}

header .logo {
  color: var(--btn-color);
  font-size: 3rem;
  font-family: serif;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav ul li {
  padding: 1rem;
}

header nav ul li a {
  color: black;
  font-size: 1.7rem;
  font-family: sans-serif;
  position: relative;
}

header nav ul li .link-tag.\.active {
  color: white;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--btn-color);
  left: 50%;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  cursor: pointer;
  color: #ffdf5d;
}

header nav ul li a:hover::after {
  cursor: pointer;
  width: 100%;
  left: 0;
}

header #menuBtn {
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--btn-color);
}

/* DARK Mode  */
.nightMode {
  transition: 0.4s all ease-in;
  background-color: rgb(43, 44, 44);
  color: white;
}
.switch {
  position: relative;
}
input[type="checkbox"] {
  width: 7rem;
  height: 3rem;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  border-radius: 99999px;
  border: 4px solid #d1d5da;
}
input[type="checkbox"]:checked {
  transition: 0.4s all ease-in;
  border-color: #3a1d6d;
  background: #271052;
}
input[type="checkbox"]::before {
  content: "\f186";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.232px;
  left: 0;
  width: 2.6rem;
  height: 2.6rem;
  background: #2f363d;
  border-radius: 50%;
  transform: scale(-1.05) rotate(60deg);
  color: #ffdf5d;
  transition: all 0.4s linear;
}
input[type="checkbox"]:checked:before {
  left: 43px;
  color: #f8e3a1;
  background: #6e40c9;
}
/* Ending of DARK MODE */

/* Ending of Header  */

/* HOME Page  */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 7rem;
}

.text-inform {
  display: block;
  padding: 3rem 0rem;
}

.text-inform.\.active > h1 {
  color: white;
}

.text-inform.\.active > span {
  color: white;
}

.text-inform.\.active > h3 {
  color: white;
}

.text-inform h1 {
  font-size: 80px;
  color: var(--btn-color);
  display: block;
}

.text-inform span {
  font-weight: 600;
  font-size: 60px;
  color: var(--btn-color);
}
.text-inform p {
  font-size: 1.7rem;
  font-weight: 600;
  max-width: 55rem;
  padding: 2rem 0;
  color: rgb(59, 59, 59);
  line-height: 3rem;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  height: 2.4em;
  width: 8em;
  background-color: var(--btn-color);
  border-radius: 1rem;
}

.btn-box:hover > a {
  color: var(--btn-color);
}

.btn-box:hover {
  background: none;
  transition: 0.4s linear;
  border: 2px solid var(--btn-color);
}

.btn-box a {
  color: white;
}

.myImg {
  width: 40rem;
}
/* End of HOME PAGE */

/* Begining of ABOUT PAGE  */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about .heading {
  color: var(--btn-color);
  font-size: 5rem;
  font-weight: 500;
}

.about .text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about .text-container p {
  max-width: 50rem;
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: sans-serif;
}

.about .text-container .two_btn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
}

.about .text-container .two_btn .btn-hire {
  background-color: var(--btn-color);
}

.about .text-container .two_btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20rem;
  height: 7rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.about .text-container .two_btn .btn-hire:hover {
  background: none;
  border: 2px solid var(--btn-color);
  transition: 0.2s linear;
}

.about .text-container .two_btn .btn-hire:hover > a {
  color: var(--btn-color);
}

.about .text-container .two_btn .btn--dow {
  background: none;
  border: 2px solid var(--btn-color);
}

.about .text-container .two_btn .btn--dow:hover {
  background-color: var(--btn-color);
  transition: 0.2s linear;
}

.about .text-container .two_btn .btn--dow:hover > a {
  color: white;
}

.about .text-container .two_btn .btn-hire a {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

.about .text-container .two_btn .btn--dow a {
  color: var(--btn-color);
  font-size: 2rem;
  padding: 1rem;
}
/* Ending of ABOUT PAGE  */

/* begining of SKILLS PAGE  */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.skills .heading {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: var(--btn-color);
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

/* /// */
.wrap-circles {
  display: flex;
  min-height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: none;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: none;
  overflow: hidden;
}
.circle.per-html {
  background-image: conic-gradient(#8a2be2 /* #B5838D */ 90%, #c364fa 0);
}
.circle.per-css {
  background-image: conic-gradient(blueviolet /* #B5838D */ 70%, #c364fa 0);
}
.circle.per-js {
  background-image: conic-gradient(blueviolet /* #B5838D */ 40%, #c364fa 0);
}
.circle.per-react {
  background-image: conic-gradient(blueviolet 10%, #c364fa 0);
}
.circle.per-php {
  background-image: conic-gradient(blueviolet 20%, #c364fa 0);
}
.circle.per-py {
  background-image: conic-gradient(blueviolet 30%, /* #FFCDB2 */ #c364fa 0);
}
.circle.per-sql {
  background-image: conic-gradient(blueviolet 15%, #c364fa 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

/* Ending of SKILLS PAGE  */

/* Beggining of Contact page  */
.contact {
  display: flex;
  flex-direction: column;
}

.contact .heading {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: var(--btn-color);
  padding: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
  padding: 3rem 0;
}

.contact .container .social-m {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem 0 4rem 0;
}

.contact .container .social-m .social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--btn-color);
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  position: relative;
}

.contact .container .social-m .social_icons a{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

i{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50% -50%);
}

.contact .container .social-m .social_icons a i {
  font-size: 5rem;
}

 .social_icons:hover:nth-child(1) {
  background: lightblue;
}

 .social_icons:hover:nth-child(2) {
  background: red;
}

 .social_icons:hover:nth-child(3) {
  background: lightseagreen;
}

 .social_icons:hover:nth-child(4) {
  background: rgb(81, 81, 245);
}

.social_icons:hover:nth-child(5) {
  background: rgb(123, 123, 226);
}

 .social_icons:nth-child(1):before {
  content: "Telegram";
  position: relative;
  bottom: -8rem;
  color: #000;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f8e3a1;
  visibility: hidden;
}

 .social_icons:nth-child(2):before {
  content: "Instagram";
  position: relative;
  bottom: -8rem;
  color: #000;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f8e3a1;
  visibility: hidden;
}

 .social_icons:nth-child(3):before {
  content: "WhatsApp";
  position: relative;
  bottom: -8rem;
  color: #000;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f8e3a1;
  visibility: hidden;
}

 .social_icons:nth-child(4):before {
  content: "Facebook";
  position: relative;
  bottom: -8rem;
  color: #000;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f8e3a1;
  visibility: hidden;
}

 .social_icons:nth-child(5)::before {
  content: "Linkedin";
  position: relative;
  bottom: -8rem;
  color: #000;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f8e3a1;
  visibility: hidden;
}

 .social_icons:hover::before{
  visibility: visible;
  transition: linear 0.2s;
}

.contact .container .container-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
}

input[type="text"],
input[type="email"] {
  display: block;
  border-bottom: 2px solid var(--btn-color);
  padding: 0.5rem 1rem;
  outline: none;
  background-color: transparent;
}

.contact .container .container-form form textarea {
  padding: 2rem;
  resize: none;
  background-color: transparent;
  border: none;
}

.contact .container .container-form form button {
  width: 20rem;
  padding: 2rem;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--btn-color);
  background: none;
  border-radius: 2rem;
  border: 2px solid var(--btn-color);
}

.contact .container .container-form form button:hover {
  transform: scale(1.03);
  background-color: var(--btn-color);
  color: white;
  transition: 0.1s linear;
}

/* Ending of CONTACT PAGE  */

/* Begining of MEDIA SECTION  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .skills .card-box .progress_bar {
    width: 100%;
  }
}

@media (max-width: 771px) {
  .global {
    display: none;
  }

  header nav .global {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #c364fa;
    position: absolute;
    width: 70%;
    height: 100vh;
    top: 110%;
    right: -110%;
  }

  header nav .global a{
    font-size: 3rem;
  }

  header #menuBtn {
    display: block;
  }

  header nav .global.\.toggle {
    right: 0.1rem;
    top: 100%;
    transition: 0.4s ease-in-out;
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills .card-box .progress_bar {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 50%;
  }

  header #menuBtn {
    display: block;
  }

  .heading {
    font-size: 2.5rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  .skills .card-box .progress_bar {
    width: 100%;
  }
}
/* Ending of MEDIA SECTION  */

/* Fade animation */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* fade  */
