* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s linear;
  list-style-type: none;
}

body,
html {
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  color: #000;
  background-color: white;
}

:root {
  --main-bg-color: white;
  --dark-mode-bg-color: #000;
  --btn-color: orange;
  --color: #777777;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

section {
  padding: 5rem 9%;
}

/* Beggining of Header  */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  height: 7rem;
  padding: 0 9%;
  z-index: 1000;
  background-color: white;
}
header.\.active {
  background-color: rgb(37, 37, 37);
  transition: 0.4s all ease-in;
}

header .logo {
  color: var(--btn-color);
  font-size: 3rem;
  font-family: serif;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav .global-list.\.active>a{
  color: white;
}

header nav ul li {
  padding: 1rem;
}

header nav ul li a {
  color: black;
  font-size: 1.7rem;
  font-family: sans-serif;
  position: relative;
}

header nav ul li .link-tag.\.active{
  color: white;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--btn-color);
  left: 50%;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  cursor: pointer;
  color: #ffdf5d;
}

header nav ul li a:hover::after {
  cursor: pointer;
  width: 100%;
  left: 0;
}

/* DARK Mode  */
.nightMode {
  transition: 0.4s all ease-in;
  background-color: rgb(43, 44, 44);
  color: white;
}
.switch {
  position: relative;
}
input[type="checkbox"] {
  width: 7rem;
  height: 3rem;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  border-radius: 99999px;
  border: 4px solid #d1d5da;
}
input[type="checkbox"]:checked {
  transition: 0.4s all ease-in;
  border-color: #3a1d6d;
  background: #271052;
}
input[type="checkbox"]::before {
  content: "\f186";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.232px;
  left: 0;
  width: 2.6rem;
  height: 2.6rem;
  background: #2f363d;
  border-radius: 50%;
  transform: scale(-1.05) rotate(60deg);
  color: #ffdf5d;
  transition: all 0.4s linear;
}
input[type="checkbox"]:checked:before {
  left: 43px;
  color: #f8e3a1;
  background: #6e40c9;
}
/* Ending of DARK MODE */

/* Ending of Header  */

/* HOME Page  */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.text-inform {
  display: block;
  padding: 3rem 0rem;
}

.text-inform.\.active> h1{
  color: white;
}

.text-inform.\.active> h2{
  color: white;
}

.text-inform.\.active> h3{
  color: white;
}

.text-inform h1{
  font-size: 80px;
  color: var(--btn-color);
  display: block;
}

.text-inform span{
  font-weight: 600;
  font-size: 60px;
  color: var(--btn-color);
}
.text-inform p {
  font-size: 1.7rem;
  font-weight: 600;
  max-width: 55rem;
  padding: 2rem 0;
  color: rgb(59, 59, 59);
  line-height: 3rem;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  height: 2.4em;
  width: 8em;
  background-color: var(--btn-color);
  border-radius: 1rem;
}

.btn-box:hover > a {
  color: var(--btn-color);
}

.btn-box:hover {
  background: none;
  transition: 0.4s linear;
  border: 2px solid var(--btn-color);
}

.btn-box a {
  color: white;
}

.myImg{
  width: 40rem;
}
/* End of HOME PAGE */

/* Beggining of Contact page  */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
}
.container-form {
display: block;
}

input[type="text"],
input[type="email"]
{
  display:block;
  border-bottom: 2px solid var(--btn-color);
  padding: 0.5rem 1rem;
  outline: none;
  background-color: transparent;
}

input[/* type="text" */ placeholder="name" ]::before,
input[/* type="email " */placeholder="email"]::before{
  position: relative;
  top: 1px;
}
/* Ending of CONTACT PAGE  */


/* Begining of MEDIA SECTION  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  section{
      padding:2rem;
  }


}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 2.5rem;
  }

  

}
/* Ending of MEDIA SECTION  */